data/*.tsv
data/*.tsv.gz
species/*/*.log
species/*/*.gz
species/*/*.fa
species/*/*.gff3
species/*/*.gff
species/*/*.tsv
species/*/*.temp
species/*/gff3seqids
species/*/faseqids
species/*/comm12
species/*/comm13
species/*/comm23
species/*/*.generepids.txt
scratch/
test/*-test.tsv
.ipynb_checkpoints
_site
