# Large data files
data/*.tsv
data/*.tsv.gz
data/hym-prot
data/hym-prot.clstr

# Various species-specific intermediate files
species/*/*.log
species/*/*.gz
species/*/*.gz.orig
species/*/*.fa
species/*/*.gff3
species/*/*.gff
species/*/*.tsv
species/*/*.temp
species/*/gff3seqids
species/*/faseqids
species/*/comm12
species/*/comm13
species/*/comm23
species/*/*.generepids.txt
species/*/*.protein2ilocus.txt
species/*/*.protids.txt
species/*/*.faa
species/*/*.ul
species/*/*.lp
species/*/*.locus-pmrnas.txt
species/*/*.mrnas.txt
species/*/*.mrna2gene.txt

# Sandbox directory
scratch/

# Test files
test/*-test.tsv

# Miscellaneous
*.pyc
.ipynb_checkpoints
_site
_posts
.coverage
*.swp
