*.swp
data/*.tsv
data/*.tsv.gz
data/hym-prot*
species/*/*.log
species/*/*.gz
species/*/*.gz.orig
species/*/*.fa
species/*/*.gff3
species/*/*.gff
species/*/*.tsv
species/*/*.temp
species/*/gff3seqids
species/*/faseqids
species/*/comm12
species/*/comm13
species/*/comm23
species/*/*.generepids.txt
species/*/*.protein2ilocus.txt
species/*/*.protids.txt
species/*/*.faa
species/*/*.ul
species/*/*.lp
*.pyc
scratch/
test/*-test.tsv
.ipynb_checkpoints
_site
_posts
